<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Script</title>
    <link rel="stylesheet" href="static/styles/about.css">
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,100&family=Rajdhani:wght@300&display=swap" rel="stylesheet">            
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Poppins:ital,wght@0,100;0,400;1,100&family=Rajdhani:wght@300&display=swap" rel="stylesheet">
</head>
<body>
        <header>
            <div class="navigation">
                <input type="checkbox" id="check">
                <label for="check" class="check_btn">
                    <i class="fas fa-bars"></i>
                </label>
                
                <label class="logo">
                    <img src="static/images/logo.png" alt="">
                    
                </label>
                <ul>
                    <li><a class="head" href="http://127.0.0.1:5000/home">Home</a></li>
                    <li><a class="head" href="http://127.0.0.1:5000/about">About us</a></li>
                    <li><a class="head" href="http://127.0.0.1:5000/contact">Contact us</a></li>
                    
                </ul>
            </div>
        </header>

         <!-- -----------------------------------about------------------------------ -->
         <div id="about" class="about">
            <div class="about-content">
                <h2>
                    About us
                </h2>
                <p>Welcome to Job Script, where we revolutionize the job preparation landscape through cutting-edge Generative AI technology.</p>
                
                <div class="row">
                    <div class="column">
                    <div class="card">
                        <h3>Our Vision</h3>
                        <p>Our vision is to democratize access to career opportunities by transforming the way candidates prepare for job interviews. We envision a future where every individual, regardless of background or experience, can confidently step into an interview room armed with personalized insights and relevant, context-driven questions.</p>
                        
                    </div>
                    </div>
                
                    <div class="column">
                    <div class="card">
                        <h3>Our Approach</h3>
                        <p>We employ state-of-the-art Generative AI techniques to analyze job descriptions comprehensively. This enables us to generate contextually relevant and tailored interview questions, freeing candidates from the burden of extensive manual preparation.</p>
                       
                    </div>
                    </div>
                    
                    <div class="column">
                    <div class="card">
                        <h3>Our Commitment</h3>
                        <p>Job Script is driven by a passion for pioneering technology. We are committed to pushing the boundaries of what's possible, consistently exploring new frontiers in AI, NLP, and machine learning to deliver cutting-edge solutions that transform the job preparation landscape.</p>
                        
                    </div>
                    </div>
                    
                    
                </div>
            </div>
            
         </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js" referrerpolicy="no-referrer"></script>
        <script src="static/js/index.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>